.menu {
  min-width: 100%;
  flex-flow: row nowrap;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.menuTitle {
  justify-self: center;
}

.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation > li:not(:first-child) {
  margin-top: 1rem;
}
